.content {
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    background-color: #777777;
}

#categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    overflow: hidden;
}

.categories h2 {
    font-weight: 400;
}

#repositories {
    background-image: url("resources/code_small.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: auto 125%;
    background-position: center;
    color: #FFFFFF;
    transition: 0.5s;
    width: 31%;
}

#cpp {
    background-image: url("resources/cpp.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: #FFFFFF;
    transition: 0.5s;
    width: 23%;
}

#java {
    background-image: url("resources/java.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: #FFFFFF;
    transition: 0.5s;
    width: 23%;
}

#python {
    background-image: url("resources/python.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: #FFFFFF;
    transition: 0.5s;
    width: 23%;
}

#repositories:hover {
    font-size: 60px;
    width: 40%;
}

#cpp:hover {
    font-size: 60px;
    width: 40%;
}

#java:hover {
    font-size: 60px;
    width: 40%;
}

#python:hover {
    font-size: 60px;
    width: 40%;
}